.env
node_modules

async function registerUserController(req,res){

const {username,email,password}=req.body

     if(!username || !email || !password){
        return res.status(400).json({
            message :"please provide username,email and passw0rd"
        })
     }

     const isUserAlreadyExist= await userModel.findOne({
        $or : [{username},{email}]
     })

     if (isUserAlreadyExist){
        /* isUernameAllready exist to check is he allready exist */
        return res.status(400).json({
            message : "Account allready exist with this mail or username"
        })
     }

     const hash = await bcrypt.hash(password,10)

     const user = await userModel.create({
        username,
        email,
        password:hash
     })

     const token = jwt.sign(
        {id:user._id , username:user.username},
        process.env.JWT_SECRET,
        {expiresIn :"1d"}
     )

     res.cookie("token",token)

     res.status(201).json({
        message :"user registered succesfully",
        user:{
            id :user._id,
            username : user.username,
            email:user.email
        }
     })





}